<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ju.xposed.com.jumodle">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Module测试1.4" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />

        <activity android:name=".TestListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TestFontPointActivity"
            android:label="TestFontPointActivity">
            <intent-filter>
                <action android:name="ju.xposed.com.jumodle.TEST" />
            </intent-filter>
        </activity>

        <activity android:name=".TestRxJavaActivity"
            android:label="TestRxJavaActivity"
            >
            <intent-filter>
                <action android:name="ju.xposed.com.jumodle.TEST" />
            </intent-filter>
        </activity>

        <activity android:name=".TestRecyclerViewActivity"
            android:label="TestRecyclerViewActivity">
            <intent-filter>
                <action android:name="ju.xposed.com.jumodle.TEST" />
            </intent-filter>
        </activity>


        <activity android:name=".TestHttpActivity"
            android:label="TestHttpActivity">
            <intent-filter>
                <action android:name="ju.xposed.com.jumodle.TEST" />
            </intent-filter>
        </activity>

        <activity android:name=".TestViewActivity"
            android:label="TestViewActivity">
            <intent-filter>
                <action android:name="ju.xposed.com.jumodle.TEST" />
            </intent-filter>
        </activity>

        <activity android:name="com.xposed.news.ui.MainActivity"
            android:label="news">
            <intent-filter>
                <action android:name="ju.xposed.com.jumodle.TEST" />
            </intent-filter>
        </activity>
    </application>

</manifest>